<ion-header>

  <ion-navbar>
    <ion-title>Lista de Denúncias</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="denuncias && denuncias.length == 0; else denunciaList">
      <ion-label text-center>Não foram localizadas ocorrências</ion-label>
    </ion-item>

    <ng-template #denunciaList>
      <ion-item *ngFor="let denuncia of denuncias">
        <ion-avatar item-left>
          <img src={{denuncia.imagem}}>
        </ion-avatar>
        <h2>{{denuncia.email}}</h2>
        <p>{{denuncia.motivo_ocorrencia}}</p>
      </ion-item>

    </ng-template>

  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="openCadastroDenuncias()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>